extends layout

block content
    each message in messages
        img(src="https://api.adorable.io/avatars/" +message.avatar)
        h4= message.username
        p= message.text
        p= message.date
        if user.username == message.username
            a Edit
            a Delete
        else if user.admin
             a Delete 
        else // Delete this later
            p fuck 
        
    