doctype html
html
    head
        title Boarding Time
        link(rel="stylesheet", href="/style.css")
    body
        header
            div
                div(class='titleHead') Boarding Time
                    div(class="navbar")
                        a(class="homebut" href="/") Home
                        a(class="profbut" href="/profile/edit") Profile
                    
                    div(class="buttonBar")
                        if authorized
                            a(class="logbut" href="/logout")
                                button(class="LogRegButton coolBtn" type="button") Log Out
                        else
                            a(class="logbut" href="/login")
                                button(class="LogRegButton coolBtn" type="button") Login
                            a(class="regbut" href="/register")
                                button(class="LogRegButton coolBtn" type="button") Register
                        if admin
                            a(class="logbut" href="/admin/users")
                                button(class="LogRegButton coolBtn" type="button") Admin
        body
            div(class='contentDiv')
                block content
        footer
            div
