doctype html
html
    head
        title Boarding Time
        link(rel="stylesheet", href="/style.css")
    body
        header
            div
                div(class='titleHead') Boarding Time
                    div(class="navbar")
                        a(class="homebut" href="/") Home
                        a(class="profbut" href="/profile/edit") Profile
                    div(class="buttonBar")
                        a(class="logbut" href="/login")
                            button(class="LogRegButton" type="button") Login
                        a(class="regbut" href="/register")
                            button(class="LogRegButton" type="button") Register
        body
            div(class='contentDiv')
                block content
        footer
            div
