extends layout

block content
    div(id="user_profile")
        div Username:
        div #{user.username}
        br
        div Email:
        div #{user.email}
        br
        div Age:
        div #{user.age}