html{
    background-color: #23272A;
}

.titleHead{
    width: 98.5%;
    font-size: 40px;
    background-color: #dbdbdb;
    border-radius: 20px;
    padding: 10px;
}

.navbar{
    width: 15%;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    margin-left: 5%;
    display: inline;
}

.buttonBar{
    margin-left: 50%;
    width: 10%;
    display: inline;
}

.homebut, .profbut{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    background-color: #ced9ed;
}

.logbut, .profbut, .homebut, .regbut{
    margin: 10px;
}

.contentDiv{
    background-color: #dbdbdb;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    height: 100%;
    flex-flow: column;
    display: flex;
}

.avatarBloc{
    display: inline;
    width: 600px;
}

.avatar{
    border: 5px solid #000000;
    border-radius: 4px;
    width: 80%;
    height: 80%;
    float: left;
}

.menus{
    float: right;
    width: 50px;
}

.DDFields{
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 30px;
    background-color: coral;
    padding: 5px;
    margin: 5px;
}

.messageDiv{
    padding: 10px;
    width: 80%;
    border: 2px solid gray;
    border-radius: 10px;
    margin: 5px;
    background-color: #cfcfcf;
    margin-left: 10%;
}

.messageDiv:hover{
    background-color: #cad8d9;
}

.messageUADiv{
    float: left;
    height: 20%;
    width: 19%;
    text-align: center;
}

.messageAvatar{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 15px 10px 5px 10px;
}

.messageUser{
    text-decoration: underline;
    font-size: 20px;
}

.messageContent{
    margin-left: 10px;
    width:80%;
    float: right;
}

.messageDate{
    float: right;
    vertical-align: text-bottom;
}


.messageText{
    height: 10%;
    font-size: 20px;
}

.messageDiv{
    width: 80%;
}

.submitMessage{
    margin: 1% 10%;
    text-align: center;
}

.submitMessageDiv{
    min-height: 100px;
    min-width: 200px;
    width: 100%;
}

.userAvatar{
    height: 10%;
    width: 10%;
    float: left;
    border: 2px black solid;
    border-radius: 10px;
    margin: 0 10px;
}
.messageForm{
    display: flex;
}

.messageSubmitButton{
    float: right;
    margin: 10px;
}


.loginSubmit{
    margin: 5px;
}

.registerForm{
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
  }

.coolBtn{
    margin: 3px;
    background-color: rgb(235, 235, 235);
    border: 1px rgb(99, 112, 124) solid;
    border-radius: 3px;
}
.coolBtn:hover{
    border: 1px rgb(100, 189, 219) solid;
    background-color: rgb(255, 255, 255);
}

.fltLft{
    float: left;
}

.wideTextbox{
    width: 100%;
}