html{
    background-color: #23272A;
}

.avatar{
    border: 5px solid #000000;
    border-radius: 4px;
    width: 30%;
    height: 30%;
    float: left;
}

.menus{
    float: right;
    width: 50px;
}

.DDFields{
    border: 2px solid #000000;
    border-radius: 4px;
    display: inline;
    font-size: 30px;
    background-color: coral;
    padding: 5px;
    margin: 5px;
}
